* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.content {
  background-color: #2f97c1;
  height: 100vh;
}

.content > h1 {
  color: #ffffff;
  padding: 2rem;
}

.login-content {
  background-color: #ffffff;
  color: #42434d;
  max-width: 480px;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.login-content h2 {
  text-align: center;
}

form a {
  text-decoration: none;
}

.btn-google {
  background-color: transparent;
  margin: 1rem auto;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn-google:hover {
  border: 1px solid #b1b1b1;
}

.name-btn {
  color: #42434d;
  margin: 0 1rem;
  font-weight: bold;
}

.other-sign-in {
  color: #a8a8a8;
  margin: 1rem 0;
  text-align: center;
  font-size: 0.7rem;
}

.forgot-pass {
  color: #ff0000;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: right;
}

.form-login label {
  color: #7e7878;
  font-size: 0.9rem;
  font-weight: 500;
}

.form-login input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.btn-login {
  background-color: #19789e;
  color: #ffffff;
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
  font-weight: 500;
  border: 1px solid #19789e;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn-login:hover {
  background-color: #0c6081;
}
